.common
    background gray
    padding 10px

.blue
    @extends .common
    background blue
    color white

.red
    @extends .common
    background red
    color white

.circle
    @extends .common
    border-radius 50%
